body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.App {
  padding: 1rem;
  background-color: #e9edc9;
  color: #bfca9c;
  border-radius: 2rem;
}

.Board {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccd5ae;
  color: #fefae0;
  height: 25rem;
  padding: 1.5rem;
  border-radius: 1rem;
  margin: 2rem;
  inline-size: 225px;
  overflow-wrap: break-word;
}

.Card img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.Card p {
  margin-top: -5px;
}

a {
  padding: 10px;
  border: transparent;
  border-radius: 10px;
  background-color: #fefae0;
  color: #ccd5ae;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  background-color: #aeb98a;
  color: #fefae0;
}
